@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 39 46% 90%;
    --foreground: 0 0% 8%;
    --card: 39 40% 95%;
    --card-foreground: 0 0% 8%;
    --popover: 39 40% 95%;
    --popover-foreground: 0 0% 8%;
    --primary: 0 0% 8%;
    --primary-foreground: 39 46% 95%;
    --secondary: 35 35% 85%;
    --secondary-foreground: 0 0% 8%;
    --muted: 35 35% 85%;
    --muted-foreground: 0 0% 30%;
    --accent: 0 68% 45%;
    --accent-foreground: 39 46% 95%;
    --destructive: 0 70% 45%;
    --destructive-foreground: 39 46% 95%;
    --border: 30 25% 75%;
    --input: 30 25% 75%;
    --ring: 0 0% 8%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
